<ion-header>
   <ion-toolbar>
      <ion-title>Redefinir Senha</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <div class="container">
      <p class="instruction-text">
         Crie uma nova senha para sua conta.
      </p>

      <ion-item lines="full" class="input-item">
         <ion-label position="floating">Nova Senha</ion-label>
         <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>

      <ion-item lines="full" class="input-item">
         <ion-label position="floating">Confirmar Senha</ion-label>
         <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <div class="ion-margin-top">
         <ion-button expand="block" (click)="resetPassword()" [disabled]="isLoading">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <span *ngIf="!isLoading">Redefinir Senha</span>
         </ion-button>
      </div>
   </div>
</ion-content>