.container {
   max-width: 400px;
   margin: 0 auto;
   padding-top: 20px;
}

.instruction-text {
   text-align: center;
   color: var(--ion-color-medium);
   margin-bottom: 20px;
}

.input-item {
   --background: transparent;
   margin-bottom: 10px;
}