form{
   margin-bottom: 15px;
}
ion-button{
   --ion-color-contrast: black !important;
   width: 80%;
   margin-top: 15px;
}
.forgot-password {
   text-align: center;
   color: #007bff;
   cursor: pointer;
   margin-top: 10px;
   text-decoration: underline;
 }
 .forgot-password:hover {
   color: #0056b3;
 }
