// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
   --ion-color-primary: #00569D;
   --ion-color-secondary: #eb445a;
   --ion-color-tertiary: #5260ff;
   --ion-color-success: #2dd36f;
   --ion-color-warning: #ffc409;
   --ion-color-danger: #4D0000;
   --ion-color-light: #f4f5f8;
   --ion-color-medium: #92949c;
   --ion-color-dark: #222428;
  --ion-background-color: #f9f9fa; // Fundo claro
  --ion-text-color: #0a0a0a; // Letras escuras
 }
