<ion-content class="ion-padding custom-background">
  <div class="container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>

  <div class="buttons-container">
    <div>
      <app-login-form></app-login-form>
    </div>
    <div class="register-button">
      <ion-button expand="block" (click)="openRegisterModal()" color="light">CADASTRO</ion-button>
    </div>
  </div>
  <div class="privacy-policy">
    <p>
      On Lab é um aplicativo independente desenvolvido para facilitar a reserva de laboratórios na ETEDAF.
    </p>
    <p>
      Este aplicativo não é afiliado, patrocinado ou endossado por qualquer entidade governamental.
    </p>
    <p>
      Veja mais informações da nossa politica de privacidade <a href="www.etedaf.com.br/privacidade">aqui</a>.
    </p>
  </div>
</ion-content>

