<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="register-form">
  <form (submit)="onSubmit()" [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar E-mail</ion-label>
      <ion-input type="email" formControlName="confirmEmail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <div class="register-buttons">
      <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">
        Cadastrar
      </ion-button>
    </div>
  </form>
</ion-content>

