<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="voltar()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Gestão</ion-title>
    <app-logout-button slot="end"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Gestão de Usuários</h2>
  <div>
    <ion-button routerLink="/gestao/professores-pendentes" expand="full">
      Professores Pendentes
    </ion-button>
    <ion-button routerLink="/gestao/professores-cadastrados" expand="full">
      Professores Cadastrados
    </ion-button>
  </div>
</ion-content>

