.vertical {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os cards horizontalmente */
}

ion-card {
  width: 90%; /* Ajusta a largura dos cards */
  margin: 10px 0; /* Adiciona espaçamento entre os cards */
}
ion-card-title{
  color: #0a0a0a;
}
