<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <app-logout-button slot="end"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container vertical">
    <ion-card (click)="navigateTo('/reserva-sala')">
      <ion-card-header>
        <ion-card-title>Reserva de Sala</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Reserva de Equipamentos
          (Em Breve)</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card *ngIf="isAdmin" (click)="navigateTo('/gestao')">
      <ion-card-header>
        <ion-card-title>Gestão</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>



